* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #888;
  color: #fff;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  text-shadow: 1px 1px 2px black;
  user-select: none;
  overflow: hidden;
}

button,
input {
  font: inherit;
}

#camera_view {
  display: block;
  width: 100%;
  height: 100%;
  background: #111;
}

.cv-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.cv-error-panel {
  position: absolute;
  top: 33%;
  width: 30%;
  display: flex;
  margin: 0 calc(35% - 16px);
  padding: 16px;
  align-items: center;
  justify-content: center;
  background-color: #a00;
  border: 1px solid #fff;
  box-shadow: 1px 1px 2px #000;
  text-align: center;
  text-shadow: none;
  z-index: 2;
}

.cv-warning {
  background-color: #fb3;
  color: #000;
}

.cv-loading-panel {
  position: absolute;
  bottom: 16%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.cv-loading-bar {
  position: relative;
  width: 50%;
  height: 16px;
  margin: 16px 0;
  border: 1px solid #fff;
  box-shadow: 1px 1px 2px #000;
  opacity: 0.5;
}

.cv-loading-bar-value {
  position: absolute;
  top: 0;
  left: 0;
  width: 33%;
  height: 100%;
  background-color: #f00;
}

.cv-loaded {
  display: none;
}

.cv-copyright {
  position: absolute;
  right: 8px;
  bottom: 4px;
  color: #fff;
}

.cv-copyright a {
  color: #fff;
  font-style: italic;
  text-decoration: none;
}

.cv-hidden {
  display: none;
}

.op-panel {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

.op-hidden {
  display: none;
}

#orbit_canvas {
  display: block;
  width: 400px;
  height: 400px;
}

.op-dot {
  position: absolute;
  left: 200px;
  top: 200px;
  width: 8px;
  height: 8px;
  background-color: #f00;
  border-radius: 50%;
  transform: translate(-4px, -4px);
}

.op-frustum {
  position: absolute;
  left: 200px;
  top: 200px;
  width: 80px;
  height: 1px;
  background-color: #f00;
  transform-origin: left center;
}

#op_frustum1 {
  transform: rotate(10deg);
}

#op_frustum2 {
  transform: rotate(20deg);
}

#op_frustum3 {
  transform: rotate(30deg);
}

#op_frustum4 {
  transform: rotate(40deg);
}

#op_frustum5 {
  transform: rotate(-10deg);
}

#op_frustum6 {
  transform: rotate(-20deg);
}

#op_frustum7 {
  transform: rotate(-30deg);
}

#op_frustum8 {
  transform: rotate(-40deg);
}

.op-info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
}

.sp-panel {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100vh;
  padding: 0 8px;
  overflow: auto;
}

.sp-panel h3 {
  margin: 8px 0;
  font-size: 1.1em;
}

.sp-panel summary {
  margin: 8px 0;
  font-size: 1.2em;
  font-weight: bold;
}

.sp-settings-container {
  padding-left: 8px;
}

.sp-setting {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.sp-setting label {
  margin-right: 8px;
}

.sp-slider-container {
  display: flex;
  height: 12px;
  margin-left: auto;
  align-items: center;
}

.sp-slider-container button {
  display: inline-block;
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  user-select: none;
}

.sp-slider-container button[disabled] {
  cursor: initial;
  opacity: 0.2;
}

.sp-slider-container input[type="range"] {
  width: 128px;
  height: 12px;
  padding: 0;
  margin: 0;
  appearance: none;
  background: #000;
  box-shadow: 1px 1px 2px #000;
  cursor: pointer;
  outline: none;
  opacity: 0.5;
  overflow: hidden;
}

.sp-slider-container input[type="range"]::-webkit-slider-thumb {
  width: 0;
  height: 12px;
  appearance: none;
  background: #00f;
  box-shadow: -100vw 0 0 100vw #00f;
}

.sp-slider-container input[type="range"]::-moz-range-thumb {
  width: 0;
  height: 12px;
  background: #00f;
  border: 0;
  box-shadow: -100vw 0 0 100vw #00f;
}

.sp-slider-container input[type="range"][disabled] {
  cursor: initial;
  opacity: 0.2;
}

.sp-value {
  width: 48px;
  margin-left: 8px;
  overflow: hidden;
  font-size: 0.8em;
  text-overflow: ellipsis;
}

.sp-setting input[type="checkbox"] {
  width: 16px;
  padding: 0;
  margin: 0 180px 0 0;
}

.sp-setting.sp-last {
  margin-bottom: 16px;
}

.sp-target-container {
  width: 200px;
  margin: 4px 0;
  line-height: 0;
}

.sp-target-container button {
  width: 24px;
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  user-select: none;
}

.sp-target-container[select="0"] #sp_target0,
.sp-target-container[select="1"] #sp_target1,
.sp-target-container[select="2"] #sp_target2,
.sp-target-container[select="3"] #sp_target3,
.sp-target-container[select="4"] #sp_target4 {
  color: #00f;
}

.sp-panel:not(.sp-playing) #sp_target1,
.sp-panel:not(.sp-playing) #sp_target2,
.sp-panel:not(.sp-playing) #sp_target3,
.sp-panel:not(.sp-playing) #sp_target4 {
  display: none;
}

.sp-play-container {
  width: 192px;
  margin: 4px 0;
  line-height: 0;
}

.sp-play,
.sp-pause,
.sp-stop {
  width: 24px;
  padding: 0;
  margin: 0 8px 0 0;
  background: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  user-select: none;
}

.sp-panel.sp-playing .sp-play,
.sp-panel:not(.sp-playing) .sp-pause,
.sp-panel:not(.sp-playing) .sp-stop {
  display: none;
}

.sp-hidden {
  display: none;
}
